 body.light .texts *:not(span), body.light .aboutus *:not(span) , body.light .projects *:not(span , .overlayProject) , body.light .contactus *:not(span , input[type='submit']) , body.light input::placeholder , body.light textarea::placeholder , body.light footer *:not(span){
  color: black !important;
  caret-color: black;
}

body.light .button a  {
  color: white !important;
}

body.light header , body.light .img2 img , body.light .skills , body.light .contactus {
  background-color: #D5D3F8;
}

body.light .aboutus , body.light .projects , body.light .footer {
  background-color: #FFEDF9;
}
